.output {
	width: 15rem;
	border-bottom: 1px solid black;
	margin: 0 auto;
    margin-bottom: 15px;
    overflow: hidden;
}

.fullOutput {
    font-size: 1.5rem;
    text-align:right;
    margin: 0;

}

.answerOutput {
    font-size: 2.5rem;
    margin: 0;
}
